@import '@fontsource-variable/libre-franklin' layer(base);
@import '@fontsource-variable/bitter' layer(base);
@import '@fontsource-variable/bitter/wght-italic.css' layer(base);

@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --text-main: #171717;
    --bg-main: rgb(255, 255, 234);
    --bg-muted: #eae9e1;
    --border-main: #171717;
}

html.dark {
    --text-main: #ffffff;
    --bg-main: rgb(19, 19, 0);
    --bg-muted: #eae9e1;
    --border-main: #171717;
}

@theme inline {
    --font-sans: 'Libre Franklin Variable', sans-serif;
    --font-serif: 'Bitter Variable', serif;
    --text-color-main: var(--text-main);
    --background-color-main: var(--bg-main);
    --background-color-muted: var(--bg-muted);
    --border-color-main: var(--border-main);
}

@layer utilities {
    .prose {
        --tw-prose-body: var(--text-color-main);
        --tw-prose-headings: var(--text-color-main);
        --tw-prose-links: var(--text-color-main);
        --tw-prose-hr: #000000;
    }

    .prose hr {
        border-color: #000000;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }

    .prose a {
        @apply underline font-normal decoration-1 underline-offset-2 decoration-dashed hover:decoration-solid;
    }

    .prose :where(h1, h2, h3, h4, h5, h6) {
        @apply font-serif font-bold;
    }
    .prose h2, .prose h3 {
        margin-top: 0.25rem;
        margin-bottom: 0.5rem;
    }
    .prose ul,
    .prose ol {
        margin-top: 0em;
        margin-bottom: 0.125em;
        padding-left: 1.5em;
        --tw-prose-bullets: #000000;
    }
    .prose li {
        margin-top: 0em;
        margin-bottom: 0.125em;
        list-style-type: disc;
    }
    .prose li::marker {
        color: #000000;
    }
}
