---
import siteConfig from '../data/site-config';

const currentYear = new Date().getFullYear();
---

<footer class="mx-auto w-full max-w-3xl pt-12 pb-10 sm:pt-24 sm:pb-14">
    <div>
        <p class="text-sm">
            &copy; {currentYear}
            <a class="hover:underline hover:underline-offset-2" href="/">{siteConfig.title}</a>. All rights reserved.
        </p>
    </div>
</footer>
