---
import siteConfig from '../data/site-config';

const titleClass = 'text-theme-foreground font-serif text-2xl leading-tight font-medium sm:text-3xl';
---

<header class="mx-auto flex w-full max-w-2xl items-center gap-4">
    <div class="grow">
        {siteConfig.title && (
            <a class={titleClass} href="/">
                {siteConfig.title}
            </a>
        )}
        {siteConfig.subtitle && <p class="text-sm leading-tight">{siteConfig.subtitle}</p>}
    </div>
</header>
